.Rproj.user
.Rhistory
.RData
.Ruserdata
tweets_all_sent_mapped.csv
id_user_keys.csv
de_identified_raw.csv
de_identified_raw.csv.zip
load_raw.R
non_USfiltered.csv
filtered.csv
extracted_emojis.Rda
e_twts_w_affiliation.Rda
e_twts_w_party.Rda
Emoji_Sentiment_Data.csv
Emoji_Sentiment_Data_v1.0.csv
